*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.so


# Added by cargo

/target

*.log

# For large assets e.g. from renderpeople.com
downloads